* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f7f3;
}

/*COVER*/

#cover {
  transition: opacity 1s ease-in-out;
}
.hr-cover {
  border-top: 8px double #8c8b8b;
  margin: 0;
}
.hr2-cover {
  border-top: 3px solid #8c8b8b;
  margin: 0;
}
#invitation {
  margin-left: 40px;
  margin-right: 40px;
}
.date-loc-text {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 5px 40px 5px 40px;
}
.title-cover {
  text-align: center;
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 75px;
  font-style: normal;
  color: #696969;
}
.title-text2 {
  color: #696969;
  text-align: center;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}
.cover-nav img {
  filter: brightness(50%);
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 95%;
}

.vl-cover {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  top: 25%;
  border-left: 6px solid #8c8b8b;
  height: 500px;
}

.content-cover img {
  width: 210px;
  height: 210px;
  border-radius: 150px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 3%);
}

.vl2-cover {
  position: absolute;
  left: 96%;
  top: 26%;
  border-left: 6px solid #8c8b8b;
  height: 500px;
}

.content-cover h2 {
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  color: white;
  word-spacing: 12px;
  font-size: 3.5rem;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-cover h3 {
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.invite {
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  line-height: 1.5;
  letter-spacing: 3px;
  font-weight: 20px;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-cover {
  margin-top: 10px;
  font-size: large;
  width: 220px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  transition: .5s ease;
  backface-visibility: hidden;
}
  
.button-cover:hover {
  background-color: gray;
  color: white;
  
}

/*HR DOUBLE*/
hr {
  border-top: 8px double #8c8b8b;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*NAVIGASI*/
nav {
  justify-content: center;
  position: fixed;
  bottom: -5vh;
  display: flex;
  width: 100%;
}

nav ul {
  padding: 1.5%;
  margin: 5px;
  background-color: #696969;
  border-radius: 35px;
}

nav ul li {
  display: inline-block;
  padding: 5px 10px;
  color: white;
}

nav ul li:hover {
  background-color: #8c8b8b;
  border-radius: 18px;
  padding: 8px 13px;
  transition: ease-in-out 200ms;
}

#ctrlmusik {
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 5vh;
  border-radius: 50px;
}

#imgmusik {
  width: 80px;
  height: 80px;
}

#invitation {
  margin-left: 40px;
  margin-right: 40px;
}
#content-invitation {
  display: none;
}
.txt-primary {
  font-family: "Marcellus", serif;
  font-weight: 200;
  font-size: 1.3rem;
  width: 200px;
  height: 200px;
  text-align: justify;
}

.txt-secondary {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-size: 1.7rem;
}

.txt-third {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#content-invitation h1 {
  margin-top: 0.3rem;
  text-align: center;
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  color: #696969;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 0px 15px;
  height: 30px;
  background-color: #696969;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

#page1 {
  display: flex;
  justify-content: space-between;
}

#page1 img {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 68%;
  height: 495px;
  padding: 5px;
  border: 3px, solid, #696969;
}

#txt1-cover,
#txt2-cover {
  color: #696969;
  text-align: justify;
  width: 100%;
  position: relative;
  word-spacing: 10px;
}

#txt1-cover {
  margin-top: 20px;
}

#txt2-cover {
  font-size: 4.2rem;
  line-height: 0.9;
  text-transform: uppercase;
}

#quotes {
  font-size: 1.05rem;
  padding: 30px 10px 0px 10px;
  margin-top: -6%;
  width: 330px;
  height: 125px;
  line-height: 1.3;
  color: white;
  text-align: center;
  position: relative;
  background-color: #696969;
  border: 4px, solid, #b2beb5;
}

#page2-container {
  display: flex;
  justify-content: space-between;
}

.vl {
  border-left: 6px solid #696969;
  height: 635px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

#page2 article {
  margin-left: 10px;
}

#page2 article h2, p {
  text-align: center;
}

#page2 article p {
  text-align: center;
}

#page2 article h3 {
  text-align: center;
  font-style: oblique;
  color: white;
  background-color: #696969;
  border: 4px, solid, #b2beb5;
  width: 90%;
  position: relative;
  padding: 50px 20px 0px 20px;
  margin-bottom: 5px;
}

.profile-item img {
  padding: 5px;
  border: 3px, solid, #696969;
  width: 250px;
  height: 250px;
  display: block;
}

.text-profile {
  text-align: center;
}

#profile-name {
  font-weight: 400;
  color: #8c8b8b;
  font-size: 2.8rem;
}

#line-profile {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  border-top: 3px solid #8c8b8b;
}

.child-of {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.2rem;
  color: #8c8b8b;
}

.parents {
  font-size: 1.5rem;
  color: #8c8b8b;
  margin-bottom: 15px;
}

.sosmed {
  display: flex;
  justify-content: space-evenly;
}

.sosmed button {
  border: 0;
  background-color: #f8f7f3;
}

.page3-container {
  display: flex;
}

#countdown-container {
  margin-top: -10px;
}

.countdown {
  display: flex;
}

.kotak-timer {
  margin: 10px 10px 0px 0px;
  width: 120px;
  height: 120px;
  background-color: #696969;
  color: white;
  text-align: center;
  font-size: 1rem;
  padding-top: 30px;
}

#day,
#hour,
#minute,
#second {
  font-family: lato, sans-serif;
  font-size: 3rem;
}

#vl-short {
  height: 400px;
  margin-left: 15px;
  margin-right: 25px;
}

#lineee {
  margin-top: 10px;
  margin-bottom: 0px;
  border: 2px, solid, #b2beb5;
}

.date-loc iframe {
  border-radius: 20px;
  border-style: dashed;
  width: 150%;
  height: 320px;
}

.container-loc {
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
}

.loc {
  background-color: #696969;
  text-align: center;
  border: 4px, solid, #b2beb5;
  color: white;
  font-size: 1rem;
  width: 100%;
  margin-left: 20px;
  margin-right: -390px;
  padding-bottom: 8px;
}

#desc p {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-family: lato, sans-serif;
  font-size: 1rem;
}

.wedding-timeline {
  text-align: center;
  border: 2px, solid, #8c8b8b;
  padding: 6px;
}

#line-timeline {
  margin-left: 90px;
  margin-right: 90px;
  width: 1070px;
  border: 2px, solid, #8c8b8b;
  text-align: center;
}

.top,
.bottom {
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.wedding-vid {
  height: auto;
  width: 70%;
  border: 4px, solid, #8c8b8b;
  padding: 5px;
  margin: 10px 10px 10px 0;
}

.our-story-vid iframe {
  height: 380px;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.our-story-vid {
  display: flex;
  justify-content: space-between;
}

.ourstory {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box {
  width: 60px;
  height: 260px;
  margin: 5px;
  border-radius: 50px;
  background: url(Assets/Images/our-story1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
  border: 3px, solid, #696969;
}

.img-box:nth-child(2) {
  background: url(Assets/Images/our-story2.jpg);
  background-size: cover;
  background-position: center;
}

.img-box:nth-child(3) {
  background: url(Assets/Images/our-story4.jpg);
  background-size: cover;
  background-position: center;
}

.img-box:nth-child(4) {
  background: url(Assets/Images/our-story3.jpg);
  background-size: cover;
  background-position: center;
}

.img-box h3 {
  color: aliceblue;
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover {
  width: 300px;
  cursor: pointer;
}

.img-box:hover h3 {
  opacity: 1;
  bottom: 25px;
}

#galery {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-bottom: 50px;
}

.slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
  transform: translateZ (20px);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

.slide {
  height: 190px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
  margin-left: 20px;
}

.photo {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  border: 4px, solid, #8c8b8b;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.photo:hover {
  transform: scale(1.2);
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 15%;
  position: absolute;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ (180deg);
}
/*PAGE 6*/
.page6-container {
  display: flex;
  justify-content: space-between;
}

#txt1-page6 {
  font-size: 2.5rem;
  line-height: 0.9;
  color: white;
  background-color: #696969;
  width: 93%;
  padding: 20px;
  text-align: center;
  border: 4px, solid, #b2beb5;
}

.message h3, .RSVP h3 {
  font-size: 2.5rem;
  color: #696969;
  text-align: center;
  padding: 10px 0px 2px 0px;
}

.RSVP h4 {
  padding-bottom: 7px;
  font-weight: lighter;
}

.message h4 {
  padding-bottom: 23px;
  font-weight: lighter;
}

textarea {
    width: 100%;
    height: 900px;
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    resize: none;
}

input[type="text"], select {
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.RSVP, .message {
  border: 3px, solid, #696969;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
  color: #696969;
  font-size: 1.3rem;
  width: 100%;
}

#table-menu, table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 15px;
}

#table-menu, td, th {
  border: 4px solid #b2beb5;
  padding: 20px 12px;
  font-family: "Marcellus", serif;
  font-weight: 200;
  font-size: 1.3rem;
  text-align: center;
}

th {
  background-color: #696969;
  color: white;
}

#table-menu, td[rowspan] {
  vertical-align: middle;
}

.submit-btn {
  margin: 5px 0px 15px 90px;
  font-size: 1.2rem;
  width: 200px;
  height: 40px;
  background-color: #696969;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.submit-btn:hover {
  background-color: white;
  color: #696969;
}

.comment-box {
  width: 200px;
  height: auto;
  text-align: left;
  padding: 6px;
  margin: 10px;
  background-color: white;
  border-radius: 4px;
  color: #696969;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.comment-box .wish {
  color: #b2beb5;
  font-size: 10px;
}

/* PAGE 7 */
#header-page7 {
  text-align: center;
  border: 4px, solid, #8c8b8b;
  padding: 20px;
  color: #696969;
  margin-bottom: 18px;
}

#header-page7 h2 {
  width: 100%;
  position: relative;
  word-spacing: 10px;
  font-size: 4.2rem;
  line-height: 0.9;
  padding-bottom: 10px;
}

.page7-container .vl {
  margin-left: 260px;
  height: 450px;
}

#gift-container {
  display: flex;
  justify-content: space-between;
}
#gift-container article {
  background-color: #696969;
  color: white;
  width: 400px;
  height: 430px;
  text-align: center;
  align-content: center;
  line-height: 1.8rem;
  font-size: 1.2rem;
}
.scan-barcode {
  width: 250px;
  height: 250px;
}
#gift-container h2 {
  font-size: 2rem;
  font-weight: 550;
}
#gift-container #vl-short {
  height: 430px;
}
.icon-bank {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.input-form {
  margin-bottom: 15px;
  width: 290px;
  height: 40px;
  border-radius: 10px;
  margin-left: 5px;
}

#page7 button {
  width: 80px;
  height: 40px;
  background-color: white;
  color: #696969;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: 0.5s ease;
  backface-visibility: hidden;
  font-size: 0.8rem;
  margin-right: 10px;
}

#page7 button:hover {
  background-color: #8c8b8b;
  color: white;
}

#thankyou-page {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.adv1 {
  font-weight: 400;
  color: white;
  background-color: #8c8b8b;
  font-size: 4rem;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.adv1 img {
  width: 170px;
  margin: -30px;
}
.adv2 {
  text-align: center;
  font-size: 1.3rem;
  margin-top: -20px;
}
.adv2 img {
  width: 360px;
  height: 185px;
  border: 3px, solid, #696969;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  #invitation {
    margin: 10px;
    text-align: center;
    align-items: center;
    overflow: hidden;
  }
  .cover-nav img {
    height: 76vh;
  }
  .title-cover{
    font-size: 55px;
  }
  .date-loc-text {
    font-size: 15px;
    justify-content: space-evenly;
    margin-left: 0px;
    margin-right: 0px;
  }
  .content-cover img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    top: 27%;
  }
  .content-cover h2 {
    font-size: 3rem;
    top: 62%;
  }  
  .content-cover h3 {
    top: 73%;
    left: 50%;
  }
  .invite {
    margin-top: 5px;
    top: 87%;
  }
  .txt-primary {
    font-weight: 500;
    font-size: 1rem;
    height: 150px;
  }
  #txt2-cover {
    font-size: 3.2rem;
  }
  .header-nav {
    height: 50px;
  }

  nav {
    bottom: -4vh;
  }
  nav ul {
    padding-bottom: 20px;
    margin-left: -10px;
  }
  #page1 {
    flex-direction: column;
  }

  #page1 img {
    width: 95%;
    height: 250px;
  }
  #page2-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .vl {
    height: 0px;
  }
  #profile-name {
    margin-top: 25px;
  }
  .profile-item img {
    width: 210px;
    height: 210px;
    display: inline;
  }
  #line-profile {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .parents {
    margin-bottom: 5px;
  }
  #prayer-page2 {
    padding: 10px;
    width: 95%;
  }
  #page2 article h3 {
    width: 85%;
    padding: 20px 20px 10px 20px;
  }
  .page3-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .countdown {
    margin-bottom: 20px;
  }
  .kotak-timer {
    margin: 5px 5px 0px 0px;
    width: 170px;
    height: 80px;
    padding-top: 5px;
  }
  #vl-short {
    height: 0px;
  }
  #lineee {
    margin-top: 10px;
    margin-bottom: 0px;
    border: 2px, solid, #b2beb5;
  }
  .date-loc iframe {
    width: 100%;
    height: 300px;
  }
  .container-loc {
    flex-direction: column;
  }
  .loc {
    font-size: 01rem;
    width: 100%;
    margin-left: 0px;
    padding-bottom: 15px;
    margin-top: 30px;
  }
  #desc p {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-family: lato, sans-serif;
    font-size: 1rem;
  }
  .wedding-timeline {
    text-align: center;
    border: 2px, solid, #8c8b8b;
    padding: 6px;
  }
  #line-timeline {
    margin-left: 90px;
    margin-right: 90px;
    width: 0px;
    border: 2px, solid, #8c8b8b;
    text-align: center;
  }
  .top,
  .bottom {
    margin: 5px;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .wedding-vid{
    width: 100%;
  }
  .our-story-vid video {
    height: auto;
    width: 92%;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .our-story-vid {
    flex-direction: column;
  }
  .our-story-vid>iframe, video {
    width: 100%;
  }

  .page6-container {
    flex-direction: column;
  }
  #txt1-page6 {
    font-size: 2rem;
    line-height: 0.9;
    color: white;
    background-color: #696969;
    width: 87%;
    padding: 20px;
    text-align: center;
    border: 4px, solid, #b2beb5;
  }
  #txt2-page6 {
    font-size: 2.5rem;
    color: #696969;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  textarea {
    resize: none;
  }
  #form-rsvp-message {
    flex-direction: column;
  }
  .RSVP, .message {
    border: 3px, solid, #696969;
    margin-top: 20px;
    margin-right: 1%;
    text-align: left;
    color: #696969;
    font-size: 1.3rem;
    width: 86%;
    padding: 20px;
  }
  .submit-btn {
    margin: 0px 0px 10px 50px;
  }
  #table-menu,
table {
  width: 10%;
}
  #gift-container {
    flex-direction: column;
  }
  #gift-container #vl-short{
      height: 0px;
    }
    #gift-container article {
      margin-top: 20px;
    }
  #thankyou-page {
    flex-direction: column;
  }
  .adv1 {
      margin-top: 100px;
      margin-bottom: 50px;
  }
  .adv2 img{
    width: 95%;
  }
  .adv2 #line-profile{
      margin-bottom: 40px;
  }
  #txt1-cover, #txt2-cover {
      text-align: center;
  }
}